<h1 class="title">Ventas</h1>
<button class="ui-button-icon-primary" routerLink="/venta-form">
    Nuevo articulo
    </button>
    <table class="table shadow m-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Clave venta</th>
            <th scope="col">Clave cliente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Total</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody *ngFor="let venta of ventas">
          <tr>
            <td>{{venta.id}}</td>
            <td>{{venta.cliente_id}}</td>
            <td>{{venta.cliente_nombre}}</td>
            <td>{{venta.total}}</td>
            <td>{{venta.fecha}}</td>
          </tr>
        </tbody>
      </table>
