<h1 class="title">Actualizar Cliente</h1>

<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" *ngIf="cliente">

  <label > id: </label>
    <input type="text" formControlName="id" [(ngModel)]="cliente.id" required>

    <label for="nombre"> Nombre: </label>
    <input class="form-control" id="nombre" type="text" formControlName="nombre" [(ngModel)]="cliente.nombre" required>

  <label for="ape_pat"> Apellido paterno: </label>
    <input class="form-control" id="ape_pat" type="text" formControlName="ape_pat" [(ngModel)]="cliente.ape_pat" required>

  <label for="ape_mat"> Apellido materno: </label>
    <input class="form-control" id="ape_mat" type="text" formControlName="ape_mat" [(ngModel)]="cliente.ape_mat" required>


  <label for="rfc"> RFC: </label>
    <input class="form-control" id="rfc" type="text" formControlName="rfc" [(ngModel)]="cliente.rfc" required>

  <button (click)="save()"  [disabled]="!clienteForm.valid">Guardar</button>

</form>
  <button (click)="goBack()">Atras</button>
  status: {{clienteForm.status}}
