<h1 class="title">Actualizar articulo</h1>

<form [formGroup]="articuloForm" (ngSubmit)="onSubmit()" *ngIf="articulo">

  <label > id: </label>
    <input type="text" formControlName="id" [(ngModel)]="articulo.id" required>

    <label for="descripcion"> Descripcion: </label>
    <input class="form-control" id="descripcion" type="text" formControlName="descripcion" [(ngModel)]="articulo.descripcion" required>

  <label for="modelo"> Modelo: </label>
    <input class="form-control" id="modelo" type="text" formControlName="modelo" [(ngModel)]="articulo.modelo" required>


  <label for="precio"> Precio: </label>
    <input class="form-control" id="precio" type="number" formControlName="precio" [(ngModel)]="articulo.precio" required>

  <label for="existencia"> Existencia:</label>
    <input class="form-control" id="existencia" type="number" formControlName="existencia" [(ngModel)]="articulo.existencia" required>

  <button (click)="save()"  [disabled]="!articuloForm.valid">Guardar</button>

</form>
  <button (click)="goBack()">Atras</button>
  status: {{articuloForm.status}}
