<h1 class="title">Nuevo articulo</h1>

<form [formGroup]="articuloForm" (ngSubmit)="onSubmit()">

  <label for="descripcion"> Descripcion: </label>
    <input class="form-control" id="descripcion" type="text" formControlName="descripcion" required>

  <label for="modelo"> Modelo: </label>
    <input class="form-control" id="modelo" type="text" formControlName="modelo" required>


  <label for="precio"> Precio: </label>
    <input class="form-control" id="precio" type="number" formControlName="precio" required>

  <label for="existencia"> Existencia:</label>
    <input class="form-control" id="existencia" type="number" formControlName="existencia" required>


  <button class="btn-info" type="submit" [disabled]="!articuloForm.valid">Agregar</button>

</form>
<button class="btn-info" (click)="goBack()">Atras</button>



<p>
  status: {{articuloForm.status}}<th>
  descripcion: {{articulo.descripcion}}
  modelo: {{articulo.modelo}}
  precio: {{articulo.precio}}
  existencia: {{articulo.existencia}}
</p>
