<h1 class="title">Nueva venta</h1>
<form #c="ngForm">
    <select name="cliente" ngModel>
      <option value="" disabled>Selecciona Ciente</option>
      <option *ngFor="let cliente of clientes" [ngValue]="cliente">
        {{ cliente.nombre }}
      </option>
    </select>
</form>

<form #a="ngForm">
  <select name="articulo" ngModel>
    <option value="" disabled>Selecciona articulos</option>
    <option *ngFor="let articulo of articulos" [ngValue]="articulo">
      {{ articulo.descripcion }}
    </option>
  </select>
  <button (click)="addtToArray()"><i class="material-icons">add_box</i></button>
</form>

<p>Form value: {{ c.value | json }}</p>
<p>Form value: {{ a.value | json }}</p>

<table class="table shadow m-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Descripcion Articulo</th>
      <th scope="col">Modelo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Importe</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="arrayArticulos">
    <tr>
        <td>{{arrayArticulos.descripcion}}</td>
        <td>{{arrayArticulos.modelo}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>
          <a>
            <i class="material-icons">delete</i>
          </a>
        </td>
    </tr>
  </tbody>
</table>
