<ul class="nav justify-content-end">
 <h1>La Vendimia</h1><i class="material-icons">storefront</i>
</ul>

<nav class="navbar navbar-dark bg-dark">
  <li class="nav-item dropdown nav">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Inicio</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/venta">Ventas</a>
          <a class="dropdown-item" routerLink="/cliente">Clientes</a>
          <a class="dropdown-item" routerLink="/articulo">Articulos</a>
          <a class="dropdown-item" >Configuracion</a>
        </div>
  </li>
  <li class="form-inline" >
    <p class="text-info">Fecha: {{today | date:'d/M/yyyy'}}</p>
  </li>
</nav>

<div class="container shadow-lg">

  <router-outlet></router-outlet>

</div>
