<h1 class="title">Nuevo Cliente</h1>

<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

  <label for="nombre"> Nombre: </label>
    <input class="form-control" id="nombre" type="text" formControlName="nombre" required>

  <label for="ape_pat"> Apellido paterno: </label>
    <input class="form-control" id="ape_pat" type="text" formControlName="ape_pat" required>


  <label for="ape_mat"> Apellido materno: </label>
    <input class="form-control" id="ape_mat" type="text" formControlName="ape_mat" required>

  <label for="rfc"> RFC:</label>
    <input class="form-control" id="rfc" type="text" formControlName="rfc" required>


  <button type="submit" [disabled]="!clienteForm.valid">Submit</button>

</form>
<button (click)="goBack()">Atras</button>


<p>
  status: {{clienteForm.status}}<th>
  nombre: {{cliente.nombre}}
  ape_pat: {{cliente.ape_pat}}
  ape_mat: {{cliente.ape_mat}}
  rfc: {{cliente.rfc}}
</p>
