<h1 class="title">Clientes</h1>
<button class="ui-button-icon-primary" routerLink="/cliente-form">
Nuevo cliente
</button>
<table class="table shadow m-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Clave cliente</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes">
      <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>
            <a routerLink="/cliente-detail/{{cliente.id}}">
              <i class="material-icons">edit</i>
            </a>
          </td>
      </tr>
    </tbody>
  </table>
