<h1 class="title">Articulos</h1>
<button class="ui-button-icon-primary" routerLink="/articulo-form">
    Nuevo articulo
    </button>
    <table class="table shadow m-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Clave articulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">            </th>
          </tr>
        </thead>
        <tbody *ngFor="let articulo of articulos">
          <tr>
            <td>{{articulo.id}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>
              <a routerLink="/articulo-detail/{{articulo.id}}">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
